diffusers==0.30.3
transformers==4.44.2
accelerate==0.33.0
huggingface_hub==0.24.7
safetensors==0.4.4
numpy==1.26.4
pyarrow==17.0.0
pillow==10.4.0
requests==2.32.3
scipy==1.14.1
pandas==2.2.2
tqdm==4.66.5
pytest==7.2.0
sentencepiece==0.2.0
protobuf==3.20.3
open_clip_torch==2.26.1
hpsv2==1.2.0
image-reward==1.5
